<footer>
  <div class="container mx-auto py-20 pb-28">
    <div class="flex flex-col lg:flex-row gap-y-20 justify-between">
      <div class="lg:w-1/3">
        <div class="footer-logo mb-6">
          <img src="/assets/icons/logo-orange-cloud.svg" alt="Kido Cloud Logo">
        </div>
        <h3 class="mb-10">
          Better Conversations with Kido
        </h3>
        <ul class="footer-links">
          <li class="footer-link -ml-2">
            <a href="https://www.youtube.com/@kido_cloud" target="_blank">
              <img src="/assets/icons/youtube.svg" alt="face" />
            </a>
          </li>
          <li class="footer-link">
            <a href="https://www.instagram.com/kidocloud?igsh=MWE4dnZpOXNnaXhubg%3D%3D" target="_blank">
              <img src="/assets/icons/instagram.svg" alt="inst" />
            </a>
          </li>
          <li class="footer-link">
            <a href=" https://www.linkedin.com/company/kido-cloud/?lipi=urn%3Ali%3Apage%3Ad_flagship3_company%3B40ZdV8KwTQWSlUwV05sQ2Q%3D%3D" target="_blank">
              <img src="/assets/icons/linkedin.svg" alt="link" />
            </a>
          </li>
        </ul>
      </div>

      <div class="lg:w-1/2">
        <div class="flex flex-wrap lg:flex-nowrap gap-y-10">
          <div class="w-1/2 lg:w-1/3">
            <h3 class="mb-6">Explore</h3>
            <ul>
              <li class="footer-nav-link">
                <a class="flex items-center gap-x-2" href="/kindergarten-landing-page">
                  School Admin Demo
                  <div class="text-black transition duration-300">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.12088 14.7781L14.7777 1.1213M14.7777 1.1213H4.53509M14.7777 1.1213V11.3639" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>          
                  </div>
                </a>
              </li>
              <li class="footer-nav-link flex">
                <a class="flex items-center gap-x-2" href="/parents-landing-page">
                  Parents Demo
                  <div class="text-black transition duration-300">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.12088 14.7781L14.7777 1.1213M14.7777 1.1213H4.53509M14.7777 1.1213V11.3639" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>          
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="w-1/2 lg:w-1/3 px-4">
            <h3 class="mb-6">Legal</h3>
            <ul>
              <li class="footer-nav-link">
                <a href="/terms-&-conditions">
                  Terms of Use
                </a>
              </li>
              <li class="footer-nav-link">
                <a href="/privacy-policy">
                  Privacy Policy
                </a>
              </li>
            </ul>
          </div>
          <div class="w-1/2 lg:w-1/3">
            <h3 class="mb-6">Contact</h3>
            <ul>
              <li class="footer-nav-link">
                <a href="mailto:support@kido.cloud">
                  support@kido.cloud
                </a>
              </li>
              <li class="footer-nav-link">
                <a href="#">
                  20 Oxford street, Douglas, IM1 3JF,
                Isle of Man
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> 
  </div>
</footer>


<script 
  src="https://cdn2.woxo.tech/a.js#6400a465f4030afa0415713b" 
  async data-usrc>
</script>
<script src="/js/scrollreveal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
<script src="/js/paddle.js"></script>
<script src="/js/main.js"></script>

