{% assign current_page = 'contact' %}
{% assign page_title = 'Contact' %}

{% include head.html %}
{% include nav.html %}

<main class="flex items-center justify-center px-4 pt-32">
  <div class="flex items-center justify-center pb-20 pt-8">
   <!-- Calendly inline widget begin -->
      <div class="calendly-inline-widget" data-url="https://calendly.com/kido-cloud/30min?hide_gdpr_banner=1&primary_color=ffa14d" style="height:700px;"></div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    <!-- Calendly inline widget end -->
  </div>  
</main>

{% include footer.html %}