{% assign current_page = 'kindergarten-landing-page' %}

{% include head.html %}
{% include nav.html %}

<main>
  <div class="container mx-auto">
    <div class="cover">
      
    </div>
  </div>

  {% include landing-page-values.html %}

  {% include our-promise.html %}

  <div class="relative overflow-hidden">
    {% include pricing-section.html %}
  </div>

  {% include landing-page-orange-cta.html %}
  
  {% include landing-page-featues.html %}
  
  {% include landing-page-video.html %}

  {% include landing-page-bottom-cta.html %}
</main>



{% include footer.html %}
